*{
    padding: 0;
    margin: 0;
}

:root{
    --blue: #1DA1F2;
}


body{
    background-color: rgb(204, 204, 204);
    font: 1em sans-serif;
}

#container{
    height: 450px;
    width: 300px;
    background-color: rgb(194, 194, 194);
    margin: 50px auto;
    padding: 5px;border-radius: 10px;
    box-shadow: 15px 15px 20px black, -10px -10px 20px white;
    overflow: hidden;
    position: relative;
}

#image{
    height: 60px;
    width: 60px;
    background-color: #1DA1F2;
    margin: 10px auto 0 115px;
    box-shadow: 5px 5px 20px black, -5px -2px 10px white;
    border-radius: 50%;
}

#logo{
    text-align: center;
    font-size: 35px;
    margin: -15px 0 0 0;
    font-weight: bold;
    color: var(--blue);
    text-shadow: 1px 1px rgb(110, 110, 110);
}

.input{
    height: 30px;
    width: 80%;
    background-color: rgb(226, 226, 226);
    margin: 0 auto 0 7%;
    padding: 1px 5px 0 10px;
    border-radius: 15px;
    box-shadow: inset 3px 3px 5px black, inset -5px -5px 5px white;
}

.input-text{
    height: 20px;
    width: 80%;
    margin: 10px auto 0 10%;
    color: var(--blue);
    text-shadow: 1px 1px rgb(110, 110, 110);

}

#staff{
    height: 50px;
    width: 60%;
    background-color: transparent;
    display: flex;
    margin: 10px auto;
    text-align: center;
    color: var(--blue);
    text-shadow: 1px 1px rgb(114, 114, 114);
}

#admin{
    padding: 5px 20px;
}

#user{
    padding: 5px 20px;
}

#login{
    display: grid;
    margin-top: -10px;
}

#login button{
    width: 80%;
    color: white;
    background-color: var(--blue);
    padding: 5px;
    font-size: 18px;
    border-radius: 50px;
    border: none;
    margin: auto;
    box-shadow: 15px 12px 20px black, -10px -10px 20px white;
    cursor: pointer;

}

#login button:hover{
    box-shadow: 10px 10px 20px black, -5px -5px 20px white;
}

#fnote{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    padding: 5px;
    letter-spacing:1px;
    font-weight: bold;
    color: rgb(0, 134, 0);
}

#watermark{
    height: 300px;
    width: 300px;
    background-image: url("../resources/Twitter.png");
    background-color: transparent;
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    left: 100%;
    margin: -300px 0 0 -300px;
    z-index: -1;
    opacity: 0.3;
}
